html {
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	margin: 0 auto;
	width: 1050px;
}
.screen-text {
	text-indent: -9999px;
}
#container .header-img {
	background: url(../images/sv-logo.png) no-repeat 0 0;
	height: 61px;
	margin: 40px auto 0;
	width: 354px;
	position: relative;
	bottom: -10px;
	z-index: 1;
}
.content {
	background: url(../images/sv-bg.jpg) no-repeat 0 0;
	overflow: auto;
	position: relative;
}
.headertext {
	color: #81858b;
	list-style-type: disc;
	margin: 63px auto 20px;
	padding: 0;
	text-align: center;
}
.headertext li {
	display: inline list-item;
	padding-left: 5px;
}
li.firstItem {
	list-style: none;
}
.contentThumbs {
	margin: 0 auto;
	width: 550px;
}
.thumbList {
	clear: both;
	display: block;
	height: auto;
	overflow: auto;
	margin-bottom: 95px;
}
.thumbList li {
	float: left;
	height: 136px;
	margin: 0;
	padding: 0;
	width: 135px;
}
.thumbList li a {
	display: block;
	margin: 0;
	padding: 0;
	height: 136px;
	width: 135px;
	opacity: 1;
}
.thumbList li a:hover,
h2:hover {
	opacity: .55;
}
@media screen and (max-width: 800px) {
	body {
		color: #0FF;
		font-family:Helvetica, Arial, sans-serif;
		font-size: 130%;
		padding: 0 0 0 0;
		margin:0;
	}
	#container {
		margin: 0;
		width: auto;
	}
	.content {
		background: none;
		overflow:inherit;
		position: relative;
	}

	#container .header-img {
		background: url(../images/sv-logo.png) no-repeat 0 0;
		margin: 0 0 3px 0;
		width: auto;
		position:relative;
		bottom:0;
		z-index: 1;
	}
	p{padding:5px;}
	ul li a {
		color: #FFF;
	}
	ul li a:hover {
		color: #FFC;
		text-decoration: none;
	}

	.headertext {
		background:#B3D4FF;
		color:#fff;
		margin: 0;
		padding: 5px 0 8px 5px;
		list-style-type: disc;
		text-align: left;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		width: auto;
	}
	li.firstItem {
		list-style: none;
	}
	.contentThumbs {
		width: auto;
	}
	.thumbList {
		clear: both;
		display: block;
		height: auto;
		overflow: auto;
		margin-bottom: 95px;
	}
	.thumbList li {
		float: left;
		height: 136px;
		margin: 0;
		padding: 0;
		width: 135px;
	}
	.thumbList li a {
		display: block;
		margin: 0;
		padding: 0;
		height: 136px;
		width: 135px;
		opacity: 1;
	}
	.thumbList li a:hover,
    h2:hover {
		opacity: .55;
	}

	#lightbox-container-image-box {
		height: 50%!important;
		width: 100%!important;
	}
	#lightbox-image {
		width: 100%;
	}
}

@media screen and (min-width: 200px) and (max-width: 550px) {
	.contentThumbs {
		width: 400px;
	}
}
